{% extends 'base.html' %}
{% block main %}
<h1 class="page-header">Profiles</h1><br>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-success">
      <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}


<ul class="flashes">
    <center>
    {% if users|length > 0 %}
        {% for user in users %}
        <div class="larger">
            <div class="left">
            <img src="{{ url_for('static', filename = 'uploads/' + user.get_id() +'.jpg') }}">
            </div>
            <div class="right">
            <br>
            <ul style="list-style: none;">
            <li>&emsp;&emsp;<h5>{{ user.first_name }} {{ user.last_name}}</h5></li>
            <li>&emsp;<i class="fa fa-user-o"></i>&emsp;{{ user.gender}}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="{{ url_for('user',userid=user['id']) }}"><button id="bttn" type="submit">View Profile</button></a></li>
            <li>&emsp;<i class="fa fa-map-marker"></i>&emsp;{{ user.location }}</li>
            </ul>
            </div>
        </div>
        <br>
        {% endfor %}
    {% else %}
        <li>No File Uploaded</li>
    {% endif %}
</ul>
<center>
{% endblock %}